$blue : rgba(0,83,159,.65);
$violet : #7D25AC;
$gray: #999999;

$almostwhite : rgba(234,239,242,.9);
$lightestgray : rgba(234,239,242,.5);

body {
  background: rgba(234,239,242,.25);
  font: 12pt/150% ProximaNovaRegular, Verdana, Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #333;
}

header { height: 60px; }
footer {
	margin-top: 5em;
	border-top: 3px double $violet;
	height: 300px;
	padding: 1em;
	background-color: lighten($violet, 50%);
}
footer /deep/ * {
	color: lighten($violet, 25%);
}

#article {
	padding: 0 1em;
	max-width: 860px;
	margin: auto;
}

#toolbar {
	background-color: $violet;
	color: $almostwhite;
	fill: $almostwhite;
	margin-bottom: 2em;
}

#githubcard {
	position: absolute;
	right: 1em;
}

#socialbuttons {
	position: absolute;
	right: 20em;
}

html /deep/ h1 {
	border-left: 6px solid $violet;
	padding: 0.2em 1em;
	background: $lightestgray;
}

html /deep/ div.schild {
	font-size: 220%;
	line-height: 130%;
	font-weight: 600;
	background: $violet;
	color: white;
	text-shadow: 3px 3px 5px darken($violet, 50%);
	padding: 1em;
	border-radius: 10px;
	font-family: fantasy;
}

html /deep/ h1, html /deep/ div.schild {
	margin-top: 40px;
}

html /deep/ blockquote {
	border-left: 6px solid $blue;
	line-height: 120%;
	padding: 0.2em 1em;
	background: $lightestgray;
}

html /deep/ a {
	color: $blue;
	text-decoration: none;
}

html /deep/ a:visited {
	color: $violet;
}

html /deep/ a:hover, html /deep/ a:active {
	text-decoration: underline;
}

html /deep/ blockquote p {
	padding: 0; margin: 0;
}

html /deep/ blockquote p small {
	color: $gray;
}

html /deep/ blockquote small:before {
	content: '\2014 \00A0';
}

html /deep/ figure, html /deep/ figure figcaption {
	border: 1px solid rgba(200,210,220,.5);
	background: rgba(234,239,242,.5);
}

html /deep/ figure {
	display: table;
	margin: 0;
	padding: 0;
	border-bottom: none;
	margin-bottom: 1.6em;
}

html /deep/ figure figcaption {
	display: table-caption;
	caption-side: bottom;
	border-top: none;
	padding: 0em 1em;
}

html /deep/ figure figcaption p {
	font-size: 86%;
	padding: 0;
}

html /deep/ hr {
	border: 0;
	height: 1px;
	margin: 1em 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), $violet, rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), $violet, rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), $violet, rgba(0,0,0,0));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), $violet, rgba(0,0,0,0));
	background-image:         linear-gradient(left, rgba(0,0,0,0), $violet, rgba(0,0,0,0));
}

html /deep/ dl dt {
	font-weight: 700;
	color: darken($violet, 50%);
}

html /deep/ #nextbtn, html /deep/ #prevbtn {
	color: $violet;
}

html /deep/ p.epigraph {
	width: 100%;
	text-align: right;
	font-style: italic;
	color: $gray;
}
