<!doctype html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Ipsissima Verba</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="alternate" type="application/rss+xml" href="/✍" title="✍ mudasobwa" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<script src="bower_components/platform/platform.js"></script>
	<script src="scripts/native.history.js"></script>
	<!--[if lt IE 9]>
	<script src="scripts/html5-3.6-respond-1.1.0.min.js"></script>
	<![endif]-->

	<!-- build:vulcanized elements/elements.vulcanized.html -->
	<link rel="import" href="elements/elements.html">
	<!-- endbuild-->

	<!-- build:css styles/main.css -->
	<link rel="stylesheet" href="styles/normalize.css">
	<link rel="stylesheet" href="styles/verekia.css">
	<link rel="stylesheet" href="styles/proximanova-opentype.css">
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild-->
</head>

<body unresolved>

	<header>
		<core-toolbar id="toolbar">
			<paper-icon-button icon="menu" onclick="goHome()"></paper-icon-button>
			<div flex>Записки когнитивного сумоиста</div>
			<!--core-icon-button icon="more" on-tap="{{moreAction}}"></core-icon-button-->
			<script>
					function goHome() {
						document.location.href = '/';
					};
			</script>
		</core-toolbar>
	</header>

	<mudasobwa-article id="article" url="⦃url⦄" buttons="both" prefetch></mudasobwa-article>

	<div style="clear:both;">&nbsp;</div>
	<footer>
		<mudasobwa-hotlinks></mudasobwa-hotlinks>
	</footer>

	<!-- build:js scripts/eblo.js -->
	<script src="scripts/app.js"></script>
	<!-- endbuild-->
</body>

</html>
